/*
    Author: Joren Thijs
*/
body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.container {
    margin: 1em 3.6em;
}
@media (min-width: 800px) {
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

.clickable {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1.5em;
    margin-left: 2.3em;
    margin-right: 2.4em;
    margin-bottom: 2.5em;
}
@media (min-width: 800px) {
    .navigation {
        height: 2em;
        margin-bottom: 5em;
    }
}
@media (min-width: 800px) {
    .navigation .hamburger {
        display: none;
    }
}
.navigation .nav-items {
    position: absolute;
    top: 3em;
    left: 50%;
    margin-left: -6em;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 150ms ease-in-out;
    transition: -webkit-transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out;
    transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}
@media (min-width: 800px) {
    .navigation .nav-items {
        position: relative;
        top: unset;
        left: unset;
        margin-left: unset;
        -webkit-transform: unset;
        transform: unset;
        -webkit-transition: unset;
        transition: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
.navigation .nav-items .nav-item {
    text-align: center;
    list-style: none;
    margin: 0.4em auto;
    font-weight: 300;
    font-size: 2em;
    position: relative;
    opacity: 0;
}
@media (min-width: 800px) {
    .navigation .nav-items .nav-item {
        opacity: unset;
        margin-right: 1.5em;
        font-size: 1.5em;
    }
}
.navigation .nav-items .nav-item.active-link::after {
    position: absolute;
    bottom: -0.1em;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    border-radius: 3px;
    background: #1f6aff;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transition: -webkit-transform 300ms ease-in 200ms;
    transition: -webkit-transform 300ms ease-in 200ms;
    transition: transform 300ms ease-in 200ms;
    transition: transform 300ms ease-in 200ms,
        -webkit-transform 300ms ease-in 200ms;
}
@media (min-width: 800px) {
    .navigation .nav-items .nav-item.active-link::after {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
.navigation .github-mark {
    min-width: 35px;
    -webkit-filter: invert(42%) sepia(70%) saturate(5682%) hue-rotate(213deg)
        brightness(100%) contrast(103%);
    filter: invert(42%) sepia(70%) saturate(5682%) hue-rotate(213deg)
        brightness(100%) contrast(103%);
}

.navigation.expanded {
    margin-bottom: 16em;
}
@media (min-width: 800px) {
    .navigation.expanded {
        margin-bottom: unset;
    }
}
.navigation.expanded .nav-items {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.navigation.expanded .nav-items .nav-item {
    opacity: 1;
    -webkit-transition: opacity 150ms ease-in 250ms;
    transition: opacity 150ms ease-in 250ms;
}
.navigation.expanded .nav-items .nav-item.active-link::after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.max-width-600 {
    max-width: 600px;
}

.max-width-150 {
    max-width: 150px;
}

.max-width-250 {
    max-width: 7em;
}

@media (min-width: 800px) {
    .left-column {
        max-width: 20em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}

h1,
h2 {
    margin: 0.9em auto;
    max-width: 520px;
}

.main-title {
    color: #424242;
    font-size: 1.6em;
    line-height: 1.5em;
}
@media (min-width: 800px) {
    .main-title {
        font-size: 1.4em;
        line-height: 1.3em;
    }
}

.sub-title {
    color: #6d6a6a;
    font-size: 1.3em;
}
@media (min-width: 800px) {
    .sub-title {
        font-size: 1.1em;
        margin-left: 0;
    }
}

.introduction {
    color: #6d6a6a;
    font-size: 1em;
    margin-bottom: 2.5em;
}
@media (min-width: 800px) {
    .introduction {
        font-size: 0.8em;
    }
}

.learn-more {
    color: #fd2dee;
    white-space: nowrap;
}

.primary-action-large {
    color: #ffffff;
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    max-width: 520px;
    line-height: 1.9em;
    border-radius: 25px;
    background: #1f6aff;
    background: linear-gradient(125deg, #1f6aff 0%, #fd2dee 100%);
    margin-bottom: 0.5em;
}
@media (min-width: 800px) {
    .primary-action-large {
        font-size: 1.6em;
        max-width: 9em;
        margin-left: 0;
    }
}

.secundairy-action-large-border {
    border-radius: 25px;
    background: #1f6aff;
    background: linear-gradient(125deg, #1f6aff 0%, #fd2dee 100%);
    margin: auto;
    max-width: 520px;
    padding: 2px;
    margin-bottom: 2.5em;
}
@media (min-width: 800px) {
    .secundairy-action-large-border {
        max-width: 14em;
        margin-left: 0;
    }
}
.secundairy-action-large-border .secundairy-action-large {
    color: #1f6aff;
    font-size: 1.8em;
    text-align: center;
    line-height: 1.9em;
    border-radius: 23px;
    background: white;
}
@media (min-width: 800px) {
    .secundairy-action-large-border .secundairy-action-large {
        font-size: 1.6em;
        max-width: 9em;
    }
}

.hero-image-container {
    position: relative;
    max-width: 520px;
    margin: auto;
}
@media (min-width: 800px) {
    .hero-image-container {
        max-width: unset;
    }
}
.hero-image-container .hero-image {
    width: 100%;
}
@media (min-width: 800px) {
    .hero-image-container .hero-image {
        width: 20em;
    }
}
.hero-image-container .hero-image-ref {
    font-size: 0.8em;
    color: #7e7e7e;
    position: absolute;
    bottom: -1.5em;
    right: 0;
}

/*# sourceMappingURL=maps/style.css.map */
