/*
    Author: Joren Thijs
*/
body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    padding: 2.2em 3.6em;
}

.clickable {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navigation {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1.3em;
    margin-right: -1.2em;
    margin-bottom: 2.5em;
}
.navigation .nav-items {
    position: absolute;
    top: 3em;
    left: 50%;
    margin-left: -6em;
    display: none;
}
.navigation .nav-items .nav-item {
    text-align: center;
    list-style: none;
    margin: 0.4em auto;
    font-weight: 300;
    font-size: 2em;
    position: relative;
}
.navigation .nav-items .nav-item.active-link::after {
    position: absolute;
    bottom: -0.1em;
    left: 0;
    content: '';
    width: 100%;
    height: 1.5px;
    border-radius: 3px;
    background: #1f6aff;
}
.navigation .github-mark {
    min-width: 35px;
    -webkit-filter: invert(42%) sepia(70%) saturate(5682%) hue-rotate(213deg)
        brightness(100%) contrast(103%);
    filter: invert(42%) sepia(70%) saturate(5682%) hue-rotate(213deg)
        brightness(100%) contrast(103%);
}

.navigation.expanded {
    margin-bottom: 16em;
}
.navigation.expanded .nav-items {
    display: unset;
}

.flex-spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

h1,
h2 {
    margin: 0.9em auto;
    max-width: 520px;
}

.main-title {
    color: #424242;
    font-size: 1.6em;
    line-height: 1.5em;
}

.sub-title {
    color: #6d6a6a;
    font-size: 1.3em;
}

.introduction {
    color: #6d6a6a;
    font-size: 1em;
    margin-bottom: 2.5em;
}

.learn-more {
    color: #fd2dee;
    white-space: nowrap;
}

.primary-action-large {
    color: #ffffff;
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    max-width: 520px;
    line-height: 1.9em;
    border-radius: 25px;
    background: #1f6aff;
    background: linear-gradient(125deg, #1f6aff 0%, #fd2dee 100%);
    margin-bottom: 0.5em;
}

.secundairy-action-large-border {
    border-radius: 25px;
    background: #1f6aff;
    background: linear-gradient(125deg, #1f6aff 0%, #fd2dee 100%);
    margin: auto;
    max-width: 520px;
    padding: 2px;
    margin-bottom: 2.5em;
}
.secundairy-action-large-border .secundairy-action-large {
    color: #1f6aff;
    font-size: 1.8em;
    text-align: center;
    line-height: 1.9em;
    border-radius: 23px;
    background: white;
}

.hero-image-container {
    position: relative;
    max-width: 520px;
    margin: auto;
}
.hero-image-container .hero-image {
    width: 100%;
}
.hero-image-container .hero-image-ref {
    font-size: 0.8em;
    color: #7e7e7e;
    position: absolute;
    bottom: -1.5em;
    right: 0;
}

/*# sourceMappingURL=maps/style.css.map */
