.about-container {
    grid-area: container;
    display: grid;
    grid-template:
    'left' auto
    'right' auto
    / auto;
    @include desktop() {
        margin-top: 6em;
        grid-template:
        'left . right' auto
        / auto minmax(0.5em, 15em) auto;
    }
}

.about-main-title {
    font-weight: 300;
    @include desktop() {
        display: none;
    }
}

.about-left-column {
    grid-area: left;
    @include desktop() {
        max-width: 23em;
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: flex-start;
    }
}

.about-main-title {
    color: #424242;
    line-height: 1.5em;
    margin: 0.9em auto;
    @include desktop() {
        margin: 0.6em auto;
    }
}

.about-sub-title {
    color: textColor(primary-text);
    margin: 0.9em auto;
    font-weight: 300;
    @include desktop() {
        margin: 0.6em auto;
        margin-left: 0;
    }
}

.about-introduction {
    color: textColor(secondary-text);
    margin: 0.9em auto;
    margin-bottom: 2.5em;
    max-width: $max-width-mobile;
    @include desktop() {
        margin: 0.6em auto;
    }
}

.about-skills-title {
    font-weight: 300;
    margin: 0.7em 0;
}

.about-skills-description {
    color: textColor(secondary-text);
    font-size: 0.9em;
    margin: 0.2em 0;
    max-width: $max-width-mobile;
    @include desktop() {
        margin: 0.6em auto;
    }
}

.about-right-column {
    margin-top: 1.5em;
    margin-bottom: 1em;
    grid-area: right;

    .about-hero-image-container{
        position: relative;
        display: none;
        @include desktop() {
            display: unset;
            max-width: unset;
        }
        .about-hero-image {
            width: 100%;
            @include desktop() {
                width: 22em;
            }
        }
    
        .about-hero-image-ref {
            font-size: .8em;
            color: textColor(faded-text);
            position: absolute;
            bottom: -1.5em;
            right: 0;
        }
    }
}
