/*
    Author: Joren Thijs
*/

$primary-blue: #1F6AFF;
$primary-pink: #FD2DEE;

$text-colors: (
  primary-text: #424242,
  secondary-text: #6D6A6A,
  faded-text: #7e7e7e,
  primary-button-text: #FFFFFF,
  secondary-button-text: $primary-blue
);

@function textColor($color-name) {
  @return map-get($text-colors, $color-name);
}

$desktop: 800px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    padding: 2.2em 3.6em;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: -1.3em;
    margin-right: -1.2em;
    margin-bottom: 2.5em;

    .hamburger {
        cursor: pointer;
    }

    .github-mark {
        min-width: 35px;
        cursor: pointer;
        filter: invert(42%) sepia(70%) saturate(5682%) hue-rotate(213deg) brightness(100%) contrast(103%);
    }
}

.flex-spacer {
    flex: 1;
}

h1, h2 {
    margin: 0.9em 0;
}

.main-title {
    color: #424242;
    font-size: 1.6em;
    max-width: 265px;
    line-height: 1.5em;
}

.sub-title {
    color: textColor(secondary-text);
    font-size: 1.3em;
}

.introduction {
    color: textColor(secondary-text);
    font-size: 1em;
    margin-bottom: 2.5em;
}

.learn-more {
    color: $primary-pink;
    cursor: pointer;
}

.primary-action-large {
    color: textColor(primary-button-text);
    font-size: 1.8em;
    text-align: center;
    margin: auto;
    line-height: 1.9em;
    border-radius: 25px;
    background: $primary-blue;
    background: linear-gradient(125deg, $primary-blue 0%, $primary-pink 100%);
    margin-bottom: .5em;
}

.secundairy-action-large-border {
    border-radius: 25px;
    background: $primary-blue;
    background: linear-gradient(125deg, $primary-blue 0%, $primary-pink 100%);
    padding: 2px;
    margin-bottom: 2.5em;

    .secundairy-action-large {
        color: textColor(secondary-button-text);
        font-size: 1.8em;
        text-align: center;
        margin: auto;
        line-height: 1.9em;
        border-radius: 23px;
        background: white;
    }
}

.hero-image-container{
    position: relative;
    .hero-image {
        width: 100%;
    }

    .hero-image-ref {
        font-size: .8em;
        text-decoration: none;
        color: textColor(faded-text);
        position: absolute;
        bottom: -1.5em;
        right: 0;
    }
}

